<ion-app no-border>
    <ion-split-pane no-border>
        <ion-menu menuId="first" no-border>
            <ion-header no-border>
                <ion-toolbar color="success">
                    <ion-title>Menu</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content color="success" no-border>
                <ion-list no-border>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages" no-border>
                        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" color="success" no-border>
                            <ion-icon slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>
                                {{ p.title }}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>